<!DOCTYPE html>
<html>
<head>
    <title>New Secret</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
   </head>
<body>
<%- include('../partials/header.ejs') %>
<h1 class="title">New Secret</h1>
<form name="secret" method="POST" action=`/users/${user.id}/secrets/new`>
    <table>
        <!-- description -->
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>Description</td>
            <td><input type="text" id="secret-description" name="description" value=<%= values.description %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "description").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>

        <!-- Content -->
        <tr>
            <td>Content</td>
            <td><input type="text" id="secret-content" name="content" value=<%= values.content %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "content").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>
