<!DOCTYPE html>
<html>
<head>
    <title>Secret <%= secret.description %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1 class="title">Secret n°<%= secret.id %></h1>
<ul>
    <li> Description: <%= secret.description %>  </li>
    <li> Secret: <%= secret.content %>  </li>
</ul>

</body>
</html>
