<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
  <body>
    <%- include('../partials/header.ejs') %>
      <h1 class="title">Users</h1>
      <% if(users.length === 0) {%>
        No users in system yet.
      <% } else { %>
          <ul>
              <% users.forEach(user => { %>
                  <li>
                    <a href="/users/<%= user.id %>"><%= user.nom %><% if(user.pseudo) {%> (<%= user.pseudo %>) <% } %></a>
                      <button onclick = "deleteAuthorById(<%= user.id %>)" %> > <i class="fas fa-trash"></i> Delete </button>
                      
                  </li>
              <% }) %>
          </ul>
      <% } %>
      <a href="/users/new"><button>Create new user</button></a>
  </body>
</html>
<script>
  function deleteAuthorById (userId) {
    console.log(userId);
    fetch(`/users/${userId}`, { method: 'DELETE' })
    .then(() => {
            document.location.reload(true);
        })
  }
  </script> 