<!DOCTYPE html>
<html>
<head>
    <title>New User</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<%- include('../partials/header.ejs') %>
<h1 class="title">New User</h1>
<form name="user" method="POST" action="/users/new">
    <table>

        <!-- Pseudo -->
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>Pseudo</td>
            <td><input type="text" id="user-pseudo" name="pseudo" value=<%= values.pseudo %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "pseudo").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>

        <!-- Password -->
        <tr>
            <td>Password</td>
            <td><input type="password" id="user-password" name="password" value=<%= values.password %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "password").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>

        <!-- nom -->
        <tr>
            <td>Nom</td>
            <td><input type="text" id="user-nom" name="nom" value=<%= values.nom %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "nom").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>
