<!DOCTYPE html>
<html>
<head>
    <title>User <%= users.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">User n°<%= users.id %></h1>
<ul>
    <li> Name: <%= users.firstname %> <%= users.name %>   </li>
    <li> Email: <%= users.email %>  </li>
</ul>

</html>
