<!DOCTYPE html>
<html>
<head>
    <title>User <%= user.nom %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1 class="title">User n°<%= user.id %></h1>
<ul>
    <li> Nom: <%= user.nom %>  </li>
    <li> Pseudo: <%= user.pseudo %>  </li>
</ul>
<form action="/users/connexion" method="post">
    <p>
        <input type="texte" name="userId" id="userId" value=<%= user.id %> hidden />
        <input type=submit value="Je suis cet utilisateur, je me connecte !">
    </p>
</form>
</body>
</html>
